</head>
<body>
  <nav>
    <i class="fa-solid fa-plane"></i>
    <div>
      <h1>Mongoose Flights</h1>
    </div>
    <a href="/flights/new" <%- title === "Add Flight" ? 'class="active"' : "" %> >Add New Flight</a>
    <a href="/flights" <%- title === "All Flights" ? 'class="active"' : ''  %> >View all flights</a>
  </nav>
  
