</head>
<body>
  <nav>
    <i class="fa-solid fa-plane fa-2x"></i>
    <div>
      <h1>Mongoose Flights</h1>
    </div>
    <div id="links">
      <a href="/flights/new" <%- title === "Add Flight" ? 'class="active"' : "" %> id="add">Add Flights</a>
      <a 
      href="/meals/new"
      <%- title === "Add Meal" ? 'class="active"' : "" %> >
    Add Meal</a>
      <a href="/flights" <%- title === "All Flights" ? 'class="active"' : ''  %> id="view" >View Flights</a>
    </div>
  </nav>
  
