<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <script src="https://kit.fontawesome.com/10c26e6afb.js" crossorigin="anonymous"></script>
  <title><%= title %></title>
</head>
<body>
  <nav>
    <i class="fa-solid fa-plane-up"></i>
    <a href="/flights/new">Add New Flight</a>
    <a href="/flights">View all flights</a>
  </nav>
  <h1><%= title %></h1>
</body>
</html>
